$black: #000;
$white: #fff;

$valid-green: rgb(2, 199, 2);
$invalid-red: rgb(255, 0, 55);

$dark-green: #354f52;
$light-green: #52796f;
$light-grey: #84a98c;
$pale-green: #cad2c5;

$paple-light: #cad2c534;
$paple-light-hover: #cad2c518;
